{{userSalary()}}

<!-- 


component life cycle 





 bidning
 - one way
    - data interpolation {{}}
    - prperty binding [src] ..
    - attribute binding [attr.]
    - event binding (click)


    ngSrc VS src 
 - two way

 ngModel ==> FromsModule Angular 
-->


<!-- <bl7-error-message></bl7-error-message> -->
<!-- 

<div class="container my-5 py-5">
   <bl7-btn [value]="color">
      <h1>ajshdgasjhdg</h1>
      <p #title>Lorem ipsum dolor sit amet.</p>
   </bl7-btn>
</div>
<button [attr.aria-label]="userName" class="btn" (click)="sayHi()">Click me</button> -->

<!-- <h1 #title>Hello my name is {{ userName }}</h1> -->





<!-- <input (keyup.x)="sayHi()" type="text" [value]="userName"> -->
<!-- <input  [(ngModel)]="userName" type="text" > -->



<!-- <div class="item" [class.darkMode]="isDarkMode">
   <img [src]="userImage" alt="">
   <h2 [style.color]="color">Title</h2>
</div> -->


<!-- <div class="container">
   <bl7-product-list></bl7-product-list>
</div> -->
<!-- <img [src]="userImage" alt="">
<h2>hello my age is. {{ userAge }}</h2>

<ul>
  <li>name : {{ user.name }}</li>
  <li>salay : {{ user.salay }}</li>
</ul>

<h1>Hello from ITI</h1> -->



<bl7-nav-bar></bl7-nav-bar>


<div class="container">
   <!-- <div class="row">
      <div class="col-md-3">
         <h2>Wlcome</h2>
      </div>
      <div class="col-md-9"> -->
   <router-outlet />
   <!-- </div> -->
   <!-- </div> -->

</div>

<!-- 
- routing ...


- service

http://localhost:4200/ ==> https://nourhan.com
http ==> protocol
https ==> secure
localhost:4200 => Domain
4200 ==> port

http://localhost:4200/home
home ... about ... contact ==> path .. route ... endPoint
http://localhost:4200/about
http://localhost:4200/contact
http://localhost:4200/setting ====> setting
http://localhost:4200/setting/web ====> webSetting
http://localhost:4200/setting/mobile ====> mobileSetting








-->